<!-- DASHBOARD -->
<br>
<h1>Dashboard</h1>
</br>
  <div class="button-large">
    <%= link_to "New Lead", new_user_lead_path(@user), class: "home_button" %>
  </div>
<!-- FILTER LEADS -->

<% if false %>
  <div class="filter">
    <% if !params[:status].blank? %>
      <% @leads = Lead.where(status: params[:status]) %>
    <% end %>

    <h3>Filter Leads:</h3>
      <%= form_tag(user_leads_url(@user), method: "get") do %>
        <%= select_tag :status, options_for_select([['Warm', 1],['Cold', 2]]), :include_blank => 'All' %>
        <%= submit_tag "Filter", class: "submit_button"  %>
      <% end %>
  </div>
<% end %>

<!-- LEADS -->

  <h2>Leads:</h2>
    <div class="table">
      <table>

  <!-- TABLE HEADER -->

          <tr class="table-header">
            <th>COMPANY</th>
            <th>WEBSITE</th>
            <th>CITY</th>
            <th>POSITION</th>
            <th>CONTACT PERSON</th>
            <th>PHONE NUMBER</th>
            <th>EMAIL</th>
            <th>STATUS</th>
            <th>EDIT</th>
          </tr>

  <!-- TABLE ROWS -->

        <% current_user.leads.each do |lead| %>
          <tr class="table-data">
            <td><%= Company.find_by(id: lead.company_id).name %></td>
            <td><%= Company.find_by(id: lead.company_id).website  %></td>
            <td><%= Company.find_by(id: lead.company_id).city %></td>
            <td><%= lead.position %></td>
            <td><%= lead.point_person %></td>
            <td><%= lead.phone_number %></td>
            <td><%= lead.email %></td>
            <td>
              <% if lead.status == "1" %>
                <%= "Warm" %>
              <% else %>
                <%= "Cold" %>
              <% end %>
            </td>
            <td><%= link_to "Edit Lead", edit_user_lead_url(@user, lead) %></td>
          </tr>
        <% end %>

      </table>
    </div>